---

---

<nav class="bg-white">
  <div class=" max-w-7xl px-2 sm:px-6 lg:px-6">
    <div class="realtive flex h-14 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-1 items-center">
          <!-- Favicon -->
          <img class="h-12 mt-2 w-auto" src="../../favicon.svg" alt="favicon">
        </div>
        

      </div>
    </div>
  </div>
</nav>
<div class="bg-cover bg-no-repeat bg-center bg-white flex justify-center">
  <img src="../../rick-and-morty-pixel.gif" alt="Rick and Morty" width="600px" >
</div>



