---
---

<script>
document.getElementById("showSearchButton").addEventListener("click", () => {
    let searchForm = document.getElementById("searchForm") as HTMLElement
    let buttonClick = document.getElementById("showSearchButton") as HTMLElement
    searchForm.classList.toggle("hidden")
    buttonClick.classList.toggle("hidden");
})
document.addEventListener("click", (event) => {
    let searchForm = document.getElementById("searchForm") as HTMLElement
    let buttonClick = document.getElementById("showSearchButton") as HTMLElement

    if (!searchForm.contains(event.target as Node) && !buttonClick.contains(event.target as Node)) {
        searchForm.classList.add("hidden");

        buttonClick.classList.remove("hidden")
    }
})
</script>
    <div class="flex flex-col items-center text-white text-2xl font-bold m-8">
        <p>
            Click to search for your favorite characters! 
        </p>
        <button id="showSearchButton" type="submit" class="text-white bg-lime-500 hover:bg-lime-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-md px-8 py-2 mt-4 dark:bg-lime-500 dark:hover:bg-lime-700 dark:focus:ring-blue-800">Click</button>
    </div>
    <form id="searchForm" class="sm:mx-32 md:mx-56 mt-8 hidden">   
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-700 border bg-white border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for your favorite characters!" required>
            <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-lime-500 hover:bg-lime-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-lime-500 dark:hover:bg-lime-700 dark:focus:ring-blue-800">Search</button>
        </div>
      </form>
